body {
	background-color: #000080;
}

h1 {
	color: white;
}

p {
	font-family: verdana;
	color: white;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
 }

footer {
    position: relative;
    height: 300px;
    width: 100%;
    background-color: #000080;
}

p.copyright {
    position: relative;
    width: 100%;
    color: white;
    line-height: 240px; 
    font-size: 0.8em;
    text-align: center;
    bottom:0;
}
